<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <p>Some agreement template
        {% if tos_list %}
    <ul>
        {% for tos in tos_list %}
        <li>{{ tos.slug }}</li>
    <li>{{ tos.name }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No tos are available.</p>
    {% endif %}
    </p>

    <p>
        {{request.user.first_name}} - {{request.user.last_name}}

    </p>
    <p>
        {{request.user.user_profile.street}} - {{request.user.user_profile.postal_code}}
    </p>
    <p>
        Dated: {{date}}
    </p>
</div>
</body>
</html>